<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
  <property name="logging.path" value="${BBD_LOG_PATH:-logs}"/>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="console">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="commonLog">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ALL</level>
    </filter>
    <File>${logging.path}/Lin-error.log</File>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss}||%thread||%level||%logger:%line||%msg %ex||%n
      </pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="errorLog">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <File>${logging.path}/Lin-error.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logging.path}/Lin-error.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss}||%thread||%level||%logger:%line||%msg %ex||%n
      </pattern>
    </encoder>
  </appender>


  <logger level="INFO" name="com.cn"/>
  <!--<logger name="org.springframework.web.servlet.mvc.method.annotation.ServletInvocableHandlerMethod" level="TRACE"/>-->


  <root level="INFO">
    <appender-ref ref="commonLog"/>
    <appender-ref ref="errorLog"/>
    <appender-ref ref="console"/>
  </root>


</configuration>