.title-box{
    height: 54px;
    width: 100%;
    background-color: #a62b30;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 66px;
}
.title-box .iconfont{
    color: #fff;
    position: absolute;
    left: 15px;
    top: 19px;
    font-size: 24px;
}
.main .header-box .bar{
    width: 80%;
}
.content{
    padding-top: 20px;
    min-height: 20rem;
    font-size: 2rem;
}
.content img{
    display: inline-block;
    width: 12rem;
    height: 12rem;
}
.success-text{
    margin-top: 20px;
}
.menu{
    width: 100%;
    position: fixed;
    bottom: 5px;
    z-index: 2;
    background-color: #F7F7F7;
    padding-top: 4px;
    height: 3.6rem;
}
.arc{
    position: fixed;
    display: inline-block;
    border-radius: 50%;
    border-top: 1px solid #ccc;
    width: 18%;
    height: 3.5rem;
    bottom: 2rem;
    left: 50%;
    margin-left: -9%;
    background-color: #F7F7F7;
}
.center-item{
    position: relative;
    z-index: 4;
    background-color: #F7F7F7;
}
.menu ul{
    width: 100%;
}
.menu li{
    width: 20%;
    text-align: center;
    float: left;
    font-size: 1rem;
    color: #808589;
}
.menu li i{
    display: block;
    margin-bottom: 0.2rem;
    font-size: 1.4rem;
    color: #808589;
}